.update-form {
  display: flex;
}

.left-panel-container {
  overflow-y: auto;
  min-width: 30rem;
  max-width: 40rem;
  padding: .5rem;
}

.date-field-container .start_date-field {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.date-field-container .end_date-field {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.start_date-field input {
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: .2rem;
  cursor: pointer;
}

.end_date-field input {
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: .2rem;
  cursor: pointer;
}