.comment {
    max-width: 35rem; 
    padding: 1rem;
    min-height: 2rem;
}

.comment .ql-snow {
    min-height: 2rem;
}

.editor-image {
    max-width: 400px;
}
.ql-snow .ql-editor img {
    max-width: 400px;
}